<h1>Ohashi's Self-introduction Page</h1>
<p>Thank you for comming this page. Please enjoy!</p>
</br>
</br>


<body lang=JA style='tab-interval:42.0pt;text-justify-trim:punctuation'>

<div class=WordSection1 style='layout-grid:18.0pt'>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l0 level1 lfo2;
tab-stops:list 36.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>Occupation:<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:l0 level2 lfo2;
tab-stops:list 72.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>10 years + </span><span lang=EN-US style='font-size:
18.0pt;font-family:"Cambria",serif;mso-bidi-font-family:Cambria'>α</span><span
lang=EN-US style='font-size:18.0pt;font-family:"MV Boli"'> as Mechanical
engineer (Rotating equipment)<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:l0 level2 lfo2;
tab-stops:list 72.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>2 years + </span><span lang=EN-US style='font-size:18.0pt;
font-family:"Cambria",serif;mso-bidi-font-family:Cambria'>α</span><span
lang=EN-US style='font-size:18.0pt;font-family:"MV Boli"'> as Management
position in political organization<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:l0 level2 lfo2;
tab-stops:list 72.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>2 years as Program(Project) manager<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l0 level1 lfo2;
tab-stops:list 36.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>Education<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:l0 level2 lfo2;
tab-stops:list 72.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>Mechanical Engineering (Bachelor)<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:108.0pt;text-indent:-18.0pt;mso-list:
l0 level3 lfo2;tab-stops:list 108.0pt'><![if !supportLists]><span lang=EN-US
style='font-size:18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>&igrave;<span
style='font:7.0pt "Times New Roman"'> </span></span></span><![endif]><span
lang=EN-US style='font-size:18.0pt;font-family:"MV Boli"'>1997- 2001<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:l0 level2 lfo2;
tab-stops:list 72.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>Information architect (Master)<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:108.0pt;text-indent:-18.0pt;mso-list:
l0 level3 lfo2;tab-stops:list 108.0pt'><![if !supportLists]><span lang=EN-US
style='font-size:18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;
mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>&igrave;<span
style='font:7.0pt "Times New Roman"'> </span></span></span><![endif]><span
lang=EN-US style='font-size:18.0pt;font-family:"MV Boli"'>2016-<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l0 level1 lfo2;
tab-stops:list 36.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>Certificate<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:l0 level2 lfo2;
tab-stops:list 72.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>PMP (Project Management Professional)<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt;mso-list:l0 level1 lfo2;
tab-stops:list 36.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>Interests<o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:72.0pt;text-indent:-18.0pt;mso-list:l0 level2 lfo2;
tab-stops:list 72.0pt'><![if !supportLists]><span lang=EN-US style='font-size:
18.0pt;font-family:Wingdings;mso-fareast-font-family:Wingdings;mso-bidi-font-family:
Wingdings'><span style='mso-list:Ignore'>&igrave;<span style='font:7.0pt "Times New Roman"'>
</span></span></span><![endif]><span lang=EN-US style='font-size:18.0pt;
font-family:"MV Boli"'>Reading, Jogging, Sake etc.</span><span lang=EN-US
style='font-family:"MV Boli"'><o:p></o:p></span></p>

