<title>crete an event</title>
<body bgcolor="skyblue">
<h1>What do you want to do?</h1>
<form action="#" method="post">
<p>
  <button type="button" name="button1" value="drinking party">
  <font size="5" color="#333399">drinking party</font>
  </button>
  <button type="button" name="button2" value="movie">
  <font size="5" color="#333399">movie</font>
  </button>
  <button type="button" name="button3" value="sports">
  <font size="5" color="#333399">sports</font>
  </button>
  <button type="button" name="button3" value="else">
  <font size="5" color="#333399">anything else?</font>
  </button>
</p>
</form>
