<%= provide(:title, "Home") %>
<html>
<body lang=JA style='tab-interval:42.0pt;text-justify-trim:punctuation'>

<div class=WordSection1 style='layout-grid:18.0pt'>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'>Welcome to NYAMCO project team!<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'>In here, we are providing the schedule
matching application named “<span class=SpellE>Schetch</span>”. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span class=SpellE><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'>Elevetor</span></span><span lang=EN-US
style='font-family:"Comic Sans MS";mso-fareast-font-family:"游ゴシック Light"'>
pitch* of our <span class=SpellE>Schetch</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'><span
style='mso-spacerun:yes'>&nbsp;</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'>*short summary used to quickly and
simply define a process, product, service, organization, or event and its value
proposition. <o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'><span
style='mso-spacerun:yes'>&nbsp;</span><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'>&quot;I want to see my friends, but it
is a little bothering to ask friends when they are available.&quot; This Web
app is for that kind of person. You can match your schedule without asking your
friends. There is no event at first. Events will be made after you and your
friends signed up and adjust their schedule. This is the biggest quality which
Facebook and Google Calendar don't have. When you and your friends’ schedule is
matched, you can create new event.<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS";
mso-fareast-font-family:"游ゴシック Light"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-family:"Comic Sans MS"'>If you
are interested in out app., please click <%= link_to 'here!', 'https://murmuring-citadel-48994.herokuapp.com/idle_times' %>
</span></p>
</div>

</body>

</html>
