/*
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
}
*/
body {
  min-height: 200px;
  padding-top: 70px;
}
